body {
  box-sizing: border-box;
}

.grid {
  --grid-width: 800px;
  --box-border: 1px solid #6a6a6a;
  --box-width: calc((var(--grid-width)) / var(--grid-length));

  display: grid;
  grid-template-columns: repeat(var(--grid-length), var(--box-width));
  grid-template-rows: repeat(var(--grid-length), var(--box-width));
  border-top: var(--box-border);
  border-left: var(--box-border);
  margin-bottom: 20px;
  cursor: crosshair;
}

.box {
  border-bottom: var(--box-border);
  border-right: var(--box-border);
}

.filled {
  --fill-color: black;
  background-color: var(--fill-color);
}

.controls {
  width: 800px;
  display: flex;
  justify-content: space-between;
}

button {
  border: none;
  background-color: transparent;
  font-size: 24px;
  padding: 8px 12px;
  cursor: pointer;
}

button:hover, button.toggled {
  background-color: black;
  color: white;
}