.grid {
  --grid-length: 0;
  --grid-width: 800px;
  --border-thickness: 1px;
  --box-width: calc((var(--grid-width) - calc(1px * (var(--grid-length) - 1))) / var(--grid-length));

  display: none;
  grid-template-columns: repeat(var(--grid-length), var(--box-width));
  grid-template-rows: repeat(var(--grid-length), var(--box-width));
  gap: var(--border-thickness);
  padding: var(--border-thickness);
  width: var(--grid-width);
  height: var(--grid-width);
  background-color: black;
}

.box {
  background-color: white;
}

.filled {
  background-color: blue;
}